@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel&display=swap');
label{
    display: block;
    padding: 1.5rem; 
}
#submit-btn{
    padding:2rem;
}
#output-box{
    padding:1rem;
}
body {
    background: url("image.jpg");
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    /* position: relative; */
    /* text-align: center;
    background-position: center; */
}

h1:hover {
    color: #60a5fa;
}

h1 {
    padding-top: 1rem;
    text-align: center;
    text-shadow: 0 0 5px black, 0 0 1px black;
    color: white;
}

/* .container {
    width: 50%;
} */

label {
    display: block;
    text-align: center;
    text-shadow: 0 0 5px black, 0 0 1px black;
    color: white;
}
/* label:hover{
    color: #60a5fa;;
} */

input:hover {
    background-color: 
    #60a5fa;
}

input {
    display: block;
    width: 30%;
    height: 3vh;
    max-width: 600px;
    margin: auto;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border-color: black;
    border-width: thick;
    background-color: white;
    color: black;
    text-shadow: 0 0 5px white, 0 0 1px white;
    font-size:medium;
    text-align: center;
    display: block;
}

#submit-btn {
    font-family: 'Cinzel', serif;
    font-size: large;
    display: block;
    margin: auto;
    background: transparent;
    color: white;
    border-color: 
    #3f3f46;
    border-width: thick;
    padding: 0.6rem 1rem;
    border-radius: 0.7rem;
    text-shadow: 0 0 5px black, 0 0 1px black;
}

#submit-btn:hover {
    background-color: #60a5fa;
}

#output-box {
    animation-name: slidein;
    animation-duration: 2s;
    text-align: center;
    text-shadow: 0 0 5px black, 0 0 1px black;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* #output-box:hover {
    color: #60a5fa;
} */